@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway&display=swap");

/* 400px to 700px WIDE SCREENS */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#about,
#benefits,
#contact,
#therapy {
  position: absolute;
  top: -120px;
}

.aroma_box {
  background: url("images/incense_3.jpg");
  background-position: center;
  background-size: cover;
  /* border-top: 1px solid rgba(245, 245, 245, 0.75); */
  position: relative;
}

.benefits_box {
  margin-bottom: 10px;
}

.benefits_box li {
  font-size: 16px;
  padding: 5px;
}

.benefits_box ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: url("images/night_sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.black_background {
  background-color: rgba(0, 0, 0, 0.95);
  border-top: 1px solid rgba(245, 245, 245, 0.75);
  padding: 5px;
  margin: 0;
}

.black_background_2 {
  background-color: rgba(0, 0, 0, 0.95);
  border-top: 1px solid rgba(245, 245, 245, 0.75);
  padding: 5px;
  margin: 0;
}

#center_text {
  text-align: center;
}

.contact_container {
  display: grid;
  text-align: center;
}

.contact_box p {
  font-weight: bold;
  margin-bottom: -2px;
}

.contact_box span {
  font-style: italic;
}

.deep_box {
  border-top: 1px solid rgba(245, 245, 245, 0.75);
  background: url("images/deep_massage_2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.dwn_button {
  font-size: 10px;
  text-decoration: none;
  padding: 5px;
  color: #000;
  transition: color 250ms ease;
  background: rgba(0, 191, 255, 1);
  border-radius: 5px 0px 0px 0px;
  position: absolute;
  right: 0;
  text-shadow: none;
  top: 38px;
}
.dwn_button:hover {
  color: #fff;
}

.fa-facebook {
  background: #3b5998;
}
.fa-twitter {
  background: #55acee;
}
.fa-google {
  background: #dd4b39;
}
.fa-linkedin {
  background: #007bb5;
}
.fa-instagram {
  background: #125688;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

footer {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  border-top: 1px solid #fff;
  color: #ffffff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  min-height: 75px;
  padding: 5px 0;
  position: relative;
  text-align: center;
}

footer img {
  border: 0;
  width: 50px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

h2 {
  font-style: italic;
  padding-top: 10px;
  text-align: center;
}

h3 {
  color: rgba(0, 191, 255, 1);
  padding-left: 5px;
  text-shadow: 0 1px 1px #000;
}

.hamburger_menu {
  align-items: center;
  background-color: #000;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-evenly;
  left: 0;
  /* padding: 10px 15px; */
  position: absolute;
  top: 100%;
  width: 65px;
}

.hamburger_menu:hover .hamburger_menu_bar {
  background-color: rgba(0, 191, 255, 1);
}

.hamburger_menu_bar {
  width: 40px;
  height: 2px;
  background-color: #fff;
  opacity: 1;
  transition: all 250ms ease;
}

.header_box {
  position: relative;
}

.hamburger_bar_one_hide {
  opacity: 0;
}

.hamburger_bar_two_rotate {
  background-color: rgba(0, 191, 255, 1);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
}

.hamburger_bar_three_rotate {
  background-color: rgba(0, 191, 255, 1);
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
}

.header_container {
  background-color: #000;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #fff;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header_name {
  font-size: 30px;
  color: #fff;
  margin: 0;
  padding: 20px 0 10px 10px;
}

.header_slogan {
  font-style: italic;
  font-size: 18px;
  color: rgba(0, 191, 255, 1);
  padding: 0 0 20px 10px;
  display: block;
  text-align: left;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}

.hours_container {
  display: flex;
  justify-content: center;
}

main {
  min-height: 100%;
}

.main_box {
  color: #fff;
  max-width: 1000px;
  /* margin-top: -20px; */
  position: relative;
}

.main_box p {
  text-align: center;
  font-size: 16px;
}

.main_container {
  background-color: rgba(0, 0, 0, 0.85);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 125px;
}

.main_container ~ .main_container {
  padding-top: 0;
}

.nav_box {
  align-items: center;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  position: absolute;
  right: -100%;
  top: 0;
  text-align: center;
  border-left: 1px solid #fff;
  width: 150px;
  transition: right 250ms ease;
}

.nav_box a {
  text-decoration: none;
  transition: color 250ms ease;
  color: #fff;
  font-size: 1rem;
}

.nav_box a:hover {
  color: #fff;
}

.nav_box_display {
  right: 0;
}

.shiatsu_box {
  position: relative;
  background: url("images/shiatsu_massage.jpg");
  background-position: center;
  background-size: cover;
}

.social_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social_box a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
  font-size: 25px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  transition: opacity 500ms ease;
}

.social_box a:hover {
  opacity: 0.7;
  transition: opacity 500ms ease;
}

.stone_box {
  background: url("images/stones.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

#signature {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
}

table {
  background: url("images/candle_2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  border-collapse: collapse;
  font-weight: bold;
  border-spacing: 0;
  width: 100%;
  border-top: 1px solid #fff;
  text-align: center;
}

td {
  padding: 5px;
}

.teal_text {
  font-size: 1rem;
  color: rgba(0, 191, 255, 1);
}

tr:nth-child(even) {
  color: #000;
  background: rgba(0, 191, 255, 0.85);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
tr:nth-child(odd) {
  font-size: 1.15rem;
}

.therapy_container_1 {
  display: grid;
}

.therapy_container_2 {
  display: grid;
}

.top_button:hover {
  color: rgba(245, 245, 245, 0.25);
  transition: color 500ms ease;
}

.up_button {
  font-size: 10px;
  text-decoration: none;
  padding: 5px;
  color: #000;
  transition: color 250ms ease;
  background: rgba(0, 191, 255, 1);
  border-radius: 0px 0px 0px 5px;
  position: absolute;
  right: 0;
  text-shadow: none;
}
.up_button:hover {
  color: #fff;
}

ul {
  list-style-type: none;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* GREATER THAN 700px WIDE SCREENS */
@media (min-width: 700px) {
  .black_background {
    background: none;
    border-top: none;
    padding: 5px;
  }

  .benefits_box {
    max-width: 100%;
    margin-left: 20px;
  }

  .deep_box:hover .overlay,
  .shiatsu_box:hover .overlay {
    height: 80%;
  }

  .header_name {
    font-size: 40px;
    padding: 0 0 15px 0;
    text-align: center;
  }

  .header_slogan {
    font-size: 25px;
    padding: 0 0 10px 0;
    text-align: center;
  }

  .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    position: absolute;
    text-shadow: none;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 191, 255, 1);
    overflow: hidden;
    height: 0;
    margin: 0;
    transition: height 500ms ease;
  }

  .stone_box {
    border-top: 1px solid rgba(245, 245, 245, 0.75);
  }

  .therapy_container_1 {
    grid-template-columns: 50% 50%;
  }

  .therapy_container_1 h3 {
    margin-top: 2px;
  }

  .therapy_container_2 {
    grid-template-columns: 50% 50%;
  }

  .therapy_container_2 h3 {
    margin-top: 2px;
  }
}

/* GREATER THAN 1000px WIDE SCREENS */
@media (min-width: 1000px) {
  .benefits_box {
    display: grid;
    grid-template-columns: 1fr;
  }

  .black_background {
    background: none;
    border-top: none;
    padding: 20px;
  }

  #box_padding {
    padding: 10px;
  }

  .deep_box {
    border-top: 1px solid rgba(245, 245, 245, 0.75);
  }

  .dwn_button {
    margin-top: 3px;
    font-size: 15px;
  }

  footer {
    margin-top: 20px;
  }

  footer img {
    width: 75px;
  }

  h2,
  h3 {
    padding: 10px 10px;
  }

  .hamburger_menu {
    display: none;
  }

  .header_name {
    font-size: 50px;
  }

  .header_slogan {
    font-size: 30px;
    padding: 0 0 10px 0;
  }

  li {
    font-size: 18px;
    margin-left: 0;
    padding: 15px;
  }

  .main_container {
    width: 100%;
    margin-top: 20px;
  }

  .main_box {
    margin: auto;
    height: 100%;
    margin-top: -20px;
  }

  .main_box p {
    font-size: 18px;
  }

  .nav_box {
    right: 0;
  }

  .nav_box a {
    font-size: 20px;
  }

  .nav_box a:hover {
    color: rgba(245, 245, 245, 0.25);
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 191, 255, 1);
    overflow: hidden;
    height: 0;
    margin: 0;
    transition: height 500ms ease;
  }

  table {
    width: 700px;
    margin-top: 50px;
  }

  .teal_text {
    font-size: 22px;
  }

  tr:nth-child(odd) {
    font-size: 22px;
  }

  tr:nth-child(even) {
    font-size: 20px;
  }

  .therapy_container_1 {
    grid-template-columns: 70% 30%;
    max-width: 100%;
  }

  .therapy_container_2 {
    grid-template-columns: 30% 70%;
    max-width: 100%;
  }

  ul {
    list-style-type: none;
    margin-top: -1px;
  }

  .up_button {
    font-size: 15px;
  }
}
