@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.aroma_box {
  background: url("images/incense_3.jpg");
  background-position: center;
  background-size: cover;
  border-top: 1px solid rgba(245, 245, 245, 0.75);
  position: relative;
}

.benefits_box {
  margin-bottom: 10px;
}

body {
  background: url("images/night_sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.black_background {
  background-color: rgba(0, 0, 0, 0.95);
  border-top: 1px solid rgba(245, 245, 245, 0.75);
  padding: 5px;
}

.black_background_2 {
  background-color: rgba(0, 0, 0, 0.95);
  border-top: 1px solid rgba(245, 245, 245, 0.75);
  padding: 5px;
}

#center_text {
  text-align: center;
}

.contact_container {
  display: grid;
  text-align: center;
}
.contact_box p {
  font-weight: bold;
  margin-bottom: -2px;
}
.contact_box span {
  font-style: italic;
}

.deep_box {
  border-top: 1px solid rgba(245, 245, 245, 0.75);
  background: url("images/deep_massage_2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.dwn_button {
  font-size: 10px;
  text-decoration: none;
  padding: 5px;
  color: #000;
  transition: color 250ms ease;
  background: rgba(0, 191, 255, 1);
  border-radius: 5px 0px 0px 0px;
  position: absolute;
  right: 0;
  text-shadow: none;
  top: 38px;
}
.dwn_button:hover {
  color: #fff;
}

.fa-facebook {
  background: #3b5998;
}
.fa-twitter {
  background: #55acee;
}
.fa-google {
  background: #dd4b39;
}
.fa-linkedin {
  background: #007bb5;
}
.fa-instagram {
  background: #125688;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}
footer {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  border-top: 1px solid #ffffff;
  color: #ffffff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  min-height: 75px;
  padding: 5px 0;
  position: relative;
  text-align: center;
}
footer img {
  border: 0;
  width: 50px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

h2 {
  font-style: italic;
  padding-top: 10px;
  text-align: center;
}

h3 {
  padding-left: 5px;
}

.header_container {
  background-color: rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ffffff;
}
.header_container div {
  text-align: center;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}

.hours_container {
  display: flex;
  justify-content: center;
}

li {
  font-size: 14px;
  margin-left: -10px;
  padding: 5px;
}

main {
  min-height: 100%;
}

.main_container {
  background-color: rgba(0, 0, 0, 0.75);
  /* margin-top: 5px; */
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.main_box {
  color: #ffffff;
  max-width: 1000px;
  text-shadow: 1px 1px 1px #000000;
  /* margin-top: -20px; */
  position: relative;
}
.main_box p {
  text-align: center;
  font-size: 14px;
}

.name {
  font-size: 1.45rem;
  margin-top: 10px;
  color: rgba(255, 255, 255, 1);
}
.nav_box {
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  text-align: center;
  border-left: 1px solid #ffffff;
}
.nav_box a {
  text-decoration: none;
  transition: color 250ms ease;
  color: #ffffff;
  font-size: 1rem;
}
.nav_box a:hover {
  color: rgba(245, 245, 245, 0.25);
}

.overlay {
  display: inline;
}

.shiatsu_box {
  position: relative;
  border-left: 1px solid rgba(245, 245, 245, 0.75);
  background: url("images/shiatsu_massage.jpg");
  background-position: center;
  background-size: cover;
}

.slogan {
  font-style: italic;
  font-size: 1.15rem;
  color: rgba(0, 191, 255, 0.75);
}

.social_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social_box a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
  font-size: 25px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  transition: opacity 500ms ease;
}

.social_box a:hover {
  opacity: 0.7;
  transition: opacity 500ms ease;
}

.stone_box {
  border-top: 1px solid rgba(245, 245, 245, 0.75);
  background: url("images/stones.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

#signature {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
}

table {
  background: url("images/candle_2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ffffff;
  text-align: center;
}

td {
  padding: 5px;
}

.teal_text {
  font-size: 1rem;
  color: rgba(0, 191, 255, 0.75);
}

tr:nth-child(even) {
  background: rgba(0, 191, 255, 0.25);
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
tr:nth-child(odd) {
  font-weight: bold;
  font-size: 1.15rem;
}

.therapy_container_1 {
  display: grid;
}
.therapy_container_2 {
  display: grid;
}

.top_button:hover {
  color: rgba(245, 245, 245, 0.25);
  transition: color 500ms ease;
}

.up_button {
  font-size: 10px;
  text-decoration: none;
  padding: 5px;
  color: #000;
  transition: color 250ms ease;
  background: rgba(0, 191, 255, 1);
  border-radius: 0px 0px 0px 5px;
  position: absolute;
  right: 0;
  text-shadow: none;
}
.up_button:hover {
  color: #fff;
}

ul {
  list-style-type: none;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* SCREEN SIZES 600px - 900px */
@media (min-width: 600px) {
  .black_background {
    background: none;
    border-top: none;
    padding: 5px;
  }
  .benefits_box {
    max-width: 100%;
    margin-left: 20px;
  }
  .deep_box:hover .overlay {
    height: 100%;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 191, 255, 0.75);
    overflow: hidden;
    height: 0;
    margin: 0;
    transition: 1s ease;
  }
  .shiatsu_box:hover .overlay {
    height: 100%;
  }
  .therapy_container_1 {
    grid-template-columns: 50% 50%;
  }
  .therapy_container_1 h3 {
    margin-top: 2px;
  }
  .therapy_container_2 {
    grid-template-columns: 50% 50%;
  }
  .therapy_container_2 h3 {
    margin-top: 2px;
  }
}

/* SCREEN SIZES 900px AND LARGER */
@media (min-width: 900px) {
  .aroma_box {
    border-top: 1px solid rgba(245, 245, 245, 0.75);
  }
  .benefits_box {
    display: grid;
    grid-template-columns: 1fr;
  }
  .black_background {
    background: none;
    border-top: none;
    padding: 20px;
  }
  #box_padding {
    padding: 10px;
  }
  .deep_box {
    border-top: 1px solid rgba(245, 245, 245, 0.75);
  }
  .deep_box:hover .overlay {
    height: 80%;
  }
  .dwn_button {
    margin-top: 3px;
    font-size: 15px;
  }
  footer {
    margin-top: 10px;
  }
  footer img {
    width: 75px;
  }
  h2,
  h3 {
    padding: 10px 10px;
  }
  .header_container {
    grid-template-columns: 90% 10%;
  }
  li {
    font-size: 18px;
    margin-left: 0;
    padding: 15px;
  }
  .main_container {
    width: 100%;
    margin-top: 20px;
  }
  .main_box {
    margin: auto;
    height: 100%;
    margin-top: -20px;
  }
  .main_box p {
    font-size: 18px;
  }
  .name {
    font-size: 50px;
    margin-left: 190px;
  }
  .nav_box a {
    font-size: 20px;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 191, 255, 0.75);
    overflow: hidden;
    height: 0;
    margin: 0;
    transition: 1s ease;
  }
  .shiatsu_box:hover .overlay {
    height: 75%;
  }
  .slogan {
    font-size: 30px;
    margin-top: 25px;
  }
  .stone_box {
    border-left: 1px solid rgba(245, 245, 245, 0.75);
  }
  table {
    width: 700px;
    margin-top: 50px;
  }
  .teal_text {
    font-size: 22px;
  }
  tr:nth-child(odd) {
    font-size: 22px;
  }
  tr:nth-child(even) {
    font-size: 20px;
  }
  .therapy_container_1 {
    grid-template-columns: 70% 30%;
    max-width: 100%;
  }
  .therapy_container_2 {
    grid-template-columns: 30% 70%;
    max-width: 100%;
  }
  ul {
    list-style-type: none;
    margin-top: -1px;
  }
  .up_button {
    font-size: 15px;
  }
}
