/* 400px to 700px WIDE SCREENS */
#about,
#benefits,
#contact,
#therapy {
  position: absolute;
  top: -120px;
}

.aroma_box {
  -ms-flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  background: url("../images/incense_3.jpg");
  background-position: center;
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  position: relative;
}

.aroma_box p {
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0;
  padding: 10px;
}

.benefits_box li {
  padding: 5px;
}

.benefits_box li:nth-of-type(even) {
  font-size: 18px;
}

.benefits_box ul {
  width: 100%;
}

body {
  background: url("../images/night_sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Raleway", sans-serif;
}

.black_background {
  background-color: rgba(0, 0, 0, 0.95);
  border-top: 1px solid #fff;
  padding: 5px;
  margin: 0;
}

.black_background_2 {
  background-color: rgba(0, 0, 0, 0.95);
  border-top: 1px solid #fff;
  padding: 5px;
  margin: 0;
}

#center_text {
  text-align: center;
}

.contact_container {
  display: -ms-grid;
  display: grid;
  text-align: center;
  position: relative;
}

.contact_box p {
  font-weight: bold;
  /* margin-bottom: -2px; */
}

.contact_box span {
  font-style: italic;
}

.deep_box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  background: url("../images/deep_massage_2.jpg");
  background-position: center;
  background-size: cover;
  border-top: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  position: relative;
}

.deep_box p {
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0;
  padding: 10px;
}

.fa-facebook {
  background-color: #3b5998;
}

.fa-twitter {
  background-color: #55acee;
}

.fa-google {
  background-color: #dd4b39;
}

.fa-linkedin {
  background-color: #007bb5;
}

.fa-instagram {
  background-color: #125688;
}

footer {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  background-color: #000;
  border-top: 1px solid #fff;
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  padding: 5px 0;
  position: relative;
  text-align: center;
}

.footer-logo {
  margin: 5px auto 0 auto;
  width: 50px;
}

.footer-logo img {
  height: auto;
  width: 100%;
}

h2 {
  font-style: italic;
  padding-top: 10px;
  text-align: center;
}

h3 {
  color: rgba(0, 191, 255, 1);
  font-size: 22px;
  font-weight: bold;
  margin-left: 5px;
  text-shadow: 0 1px 1px #000;
}

.hamburger_menu {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: space-evenly;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: space-evenly;
  -webkit-box-shadow: 0 2px 15px #000;
  align-items: center;
  background-color: #000;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  box-shadow: 0 2px 15px #000;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-evenly;
  left: 0;
  position: absolute;
  top: 100%;
  width: 65px;
}

.hamburger_menu_bar {
  -webkit-transition: all 250ms ease;
  background-color: #fff;
  height: 2px;
  opacity: 1;
  transition: all 250ms ease;
  width: 40px;
}

.header_box {
  position: relative;
}

.hamburger_bar_one_hide {
  opacity: 0;
}

.hamburger_bar_two_rotate {
  -webkit-transform: rotate(45deg);
  background-color: rgba(0, 191, 255, 1);
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
}

.hamburger_bar_three_rotate {
  -webkit-transform: rotate(-45deg);
  background-color: rgba(0, 191, 255, 1);
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
}

.header_container {
  -webkit-box-shadow: 0 2px 15px #000;
  background-color: #000;
  border-bottom: 1px solid #fff;
  box-shadow: 0 2px 15px #000;
  height: auto;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header_name {
  color: #fff;
  font-size: 30px;
  margin: 0;
  padding: 20px 0 10px 10px;
}

.header_slogan {
  color: rgba(0, 191, 255, 1);
  display: block;
  font-size: 18px;
  font-style: italic;
  padding: 0 0 20px 10px;
  text-align: left;
}

.hours_container {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: center;
}

main {
  min-height: 100%;
}

.main_box {
  color: #fff;
  max-width: 1000px;
  position: relative;
}

.main_box p {
  font-size: 16px;
  text-align: center;
}

.main_container {
  background-color: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  padding-top: 125px;
  position: relative;
}

.main_container~.main_container {
  padding-top: 0;
}

.nav_box {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: space-evenly;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: space-evenly;
  -webkit-transition: right 250ms ease;
  align-items: center;
  background-color: #000;
  border-left: 1px solid #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  position: absolute;
  right: -100%;
  text-align: center;
  top: 0;
  transition: right 250ms ease;
  width: 150px;
}

.nav_box a {
  -webkit-transition: color 250ms ease;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  transition: color 250ms ease;
}

.nav_box a:hover {
  color: #fff;
}

.nav_box_display {
  right: 0;
}

.shiatsu_box {
  -ms-flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  background: url("../images/shiatsu_massage_2.jpeg");
  background-position: center;
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  position: relative;
}

.shiatsu_box p {
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0;
  padding: 10px;
}

.social_box {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social_box a {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-transition: opacity 500ms ease;
  align-items: center;
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  height: 40px;
  justify-content: center;
  margin: 5px 2px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: opacity 500ms ease;
  width: 40px;
}

.social_box a:hover {
  -webkit-transition: opacity 500ms ease;
  opacity: 0.7;
  transition: opacity 500ms ease;
}

.stone_box {
  -ms-flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  background: url("../images/stones_2.jpeg");
  background-position: center;
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  position: relative;
}

.stone_box p {
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0;
  padding: 10px;
}

#signature {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
}

table {
  background: url("../images/candle_2.jpg");
  background-position: center;
  background-size: cover;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid #fff;
  font-weight: bold;
  position: relative;
  text-align: center;
  width: 100%;
}

td {
  padding: 5px;
}

.teal_text {
  color: rgba(0, 191, 255, 1);
  font-size: 18px;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: rgba(0, 191, 255, 0.75);
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  color: #000;
}

tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.75);
}

.therapy_container_1 {
  display: -ms-grid;
  display: grid;
}

.therapy_container_2 {
  display: -ms-grid;
  display: grid;
}

.top_button:hover {
  -webkit-transition: color 250ms ease;
  color: rgba(245, 245, 245, 0.25);
  transition: color 250ms ease;
}

ul {
  list-style-type: none;
}

.up_button {
  -webkit-transition: color 250ms ease;
  background: rgba(0, 191, 255, 1);
  border-radius: 5px 0px 0px 0px;
  bottom: 0;
  color: #000;
  font-size: 16px;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-shadow: none;
  transition: color 250ms ease;
}

/* GREATER THAN 700px WIDE SCREENS */
@media (min-width: 700px) {

  .aroma_box:hover .overlay,
  .deep_box:hover .overlay,
  .shiatsu_box:hover .overlay,
  .stone_box:hover .overlay {
    height: 80%;
    cursor: default;
  }

  .aroma_box p,
  .deep_box p,
  .shiatsu_box p,
  .stone_box p {
    background-color: transparent;
  }

  .black_background {
    background: none;
    border-top: none;
    padding: 5px;
  }

  .benefits_box {
    margin-left: 20px;
    max-width: 100%;
  }

  .deep_box {
    border-top: 1px solid #fff;
  }

  .header_name {
    font-size: 40px;
    padding: 0 0 15px 0;
    text-align: center;
  }

  .header_slogan {
    font-size: 25px;
    padding: 0 0 10px 0;
    text-align: center;
  }

  h3 {
    font-size: 22px;
    margin-top: 5px;
  }

  .overlay {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-transition: height 500ms ease;
    align-items: center;
    background: rgba(0, 191, 255, 1);
    bottom: 0;
    color: #000;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    height: 0;
    justify-content: center;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-shadow: none;
    transition: height 500ms ease;
  }

  .stone_box {
    border-top: 1px solid #fff;
  }

  .teal_text {
    font-size: 20px;
  }

  .therapy_container_1 {
    grid-template-columns: 50% 50%;
  }

  .therapy_container_2 {
    grid-template-columns: 50% 50%;
  }
}

/* GREATER THAN 1000px WIDE SCREENS */
@media (min-width: 1000px) {

  .aroma_box,
  .deep_box,
  .shiatsu_box,
  .stone_box {
    min-height: 275px;
  }

  .benefits_box {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr;
  }

  .benefits_box li:nth-of-type(even) {
    font-size: 18px;
  }

  .black_background {
    background: none;
    border-top: none;
    padding: 20px;
  }

  #box_padding {
    padding: 10px;
  }

  footer {
    margin-top: 20px;
  }

  h2 {
    padding: 10px 10px;
  }

  .hamburger_menu {
    display: none;
  }

  .header_name {
    font-size: 50px;
  }

  .header_slogan {
    font-size: 30px;
    padding: 0 0 10px 0;
  }

  li {
    font-size: 18px;
    padding: 15px;
  }

  .main_container {
    margin-top: 20px;
    width: 100%;
  }

  .main_box {
    height: 100%;
    margin: auto;
  }

  .main_box p {
    font-size: 18px;
  }

  .nav_box {
    right: 0;
  }

  .nav_box a {
    font-size: 20px;
  }

  .nav_box a:hover {
    color: rgba(0, 191, 255, 1);
  }

  table {
    margin-top: 50px;
    width: 700px;
  }

  .teal_text {
    font-size: 22px;
  }

  tr:nth-child(odd) {
    font-size: 22px;
  }

  tr:nth-child(even) {
    font-size: 20px;
  }

  .therapy_container_1 {
    grid-template-columns: 60% 40%;
    max-width: 100%;
  }

  .therapy_container_2 {
    grid-template-columns: 40% 60%;
    max-width: 100%;
  }

  .up_button {
    padding: 5px 15px;
  }

  .up_button:hover {
    color: #fff;
  }
}